/* Imagenes */
.images {
  height: 150px;
  width: 120px;
  display: inline;
  margin: 5px;
}
.images1 {
  height: 350px;
  width: 280px;
  border: solid 1px black;
}

/* Body */
.body {
  background-color: rgb(51, 61, 61);
}
.text {
  color: white;
  text-decoration: none;
}

/* Register */
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  justify-content: center;
  margin:20px;
}
.message_ok {
  text-align: center;
  margin: 15px;
}
.mb-3 {
  width: max-content;
}

/* Login */
.login {
  display: flex;
  flex-direction: column;
 align-items: center;
 margin-top: 50px;
}
/* Navigation */
.d-flex {
  display: flex;
  margin: 10px;
}
.Navbar {
  display: flex;
  flex-direction: column;
  background-color: rgb(51, 61, 61);
}
.reg {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.drop {
  background-color: rgb(51, 61, 61); ;
}
.logo {
  height: 90px;
  width: 180px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(51, 61, 61);
}
.logosFooter{
  border-radius: 10px;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 black;
  margin: 10px;
}
.redes {
  display: flex;
  justify-content:space-evenly;
}
.redes1 {
  font-size: 22px;
  margin:15px;
  font-weight: bold;
}
/* AddMovie,AddActor*/
.adds {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.submit {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.headline {
  text-align: center;
  color: white;
}

/* Movies */
.titles {
  width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.divs {
  display: inline;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  display:inline-block;
  margin: 22px;
  border: black solid 2px;
  border-radius: 5px;
  background-color:rgb(51, 51, 54);
}
.nombres {
  width: 120px;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

/* Movie */
.header {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}
.poster {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
.argument {
  text-align: center;
  margin: 15px;
}
.genre {
  margin: 30px;
}
.reparto {
  text-align: center;
}
.lista {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deco {
  text-decoration: none;
}
.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stars {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.points {
  display: flex;
  align-items: center;
  margin-top: 7px;
  margin: 15px;
}
.estrella {
  height: 30px;
  width: 30px;
  margin: 15px;
}
.buttonScore {
  background-color:  rgb(240, 228, 70);
  border-radius: 5px;
  border: 1px solid black;
  color:black;
  height: min-content;
  margin-top: 15px;
  margin: 15px;
}
.messages {
  display: flex;
}

/* Actor */
.actors {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.wrapActors {
  display: flex;
  flex-wrap: wrap;
  display:inline-block;
  margin: 10px;
}
.filmografia {
  text-align: center;
}
.buttonDel {
  background-color: red;
  border-radius: 5px;
  border: 1px solid black;
  width: 80px;
  color:white;
}
.buttonMod {
  background-color:  rgb(2, 117, 216);
  border-radius: 5px;
  border: 1px solid black;
  color:white;
}
.mods {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}

/* Logout */
.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.logoutButton {
  margin: 20px;
  border-radius: 5px;
}

/* Comments */
.addComment {
  display: flex;
  justify-content: center;
}
.textArea {
  width: 700px;
}
.buttonCom {
  background-color:  rgb(240, 228, 70);
  border-radius: 5px;
  border: 1px solid black;
  color:black;
}
.adds {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Puntuar */
.puntuar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MEDIA QUERY */
@media only screen and (max-width: 700px) {
  .adds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .genre {
    margin: 30px;
    text-align: center;
  }
  .logo {
    height: 130px;
    width: 330px;
  }
  .textArea {
    width: 300px;
  }
  .score {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  .header {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
  }
  .points {
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin: 2px;
  }

}

