/* Imagenes */
.images {
  height: 150px;
  width: 120px;
  display: inline;
  margin: 5px;
}
.images1 {
  height: 350px;
  width: 280px;
}

/* Register */
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  justify-content: center;
  margin:20px;
}
.message_ok {
  text-align: center;
  margin: 15px;
}
.mb-3 {
  width: max-content;
}

/* Login */
.login {
  display: flex;
  flex-direction: column;
 align-items: center;
 margin-top: 50px;
}
/* Navigation */
.d-flex {
  display: flex;
  margin: 10px;
}
.Navbar {
  display: flex;
  flex-direction: column;
}
.reg {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
}
.logosFooter{
  border-radius: 10px;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 black;
  margin: 10px;
}
.redes {
  display: flex;
  justify-content:space-evenly;
}
.redes1 {
  font-size: 22px;
  margin:15px;
  font-weight: bold;
  color: black;
}
/* AddMovie */
.adds {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.submit {
  display: flex;
  justify-content: center;
  margin: 20px;
}
/* Movies */
.titles {
  width: 120px;
}
.divs {
  display: inline;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  display:inline-block;
  margin: 25px;
}
.nombres {
  text-align: center;
  width: 120px;
}
.cardBody {
  height: min-content;
}
.card {
  display: inline-block;
}
/* Movie */
.header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.poster {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
.argument {
  text-align: center;
  margin: 15px;
}
.genre {
  margin: 30px;
}
.reparto {
  text-align: center;
}
/* Actor */
.actors {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.wrapActors {
  display: flex;
  flex-wrap: wrap;
  display:inline-block;
  margin: 15px;
}
.filmografia {
  text-align: center;
}

/* Logout */
.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.logoutButton {
  margin: 20px;
  border-radius: 5px;
}

/* Comments */
.addComment {
  display: flex;
  justify-content: center;
}

/* MEDIA QUERY */
@media only screen and (max-width: 700px) {
  .adds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .genre {
    margin: 30px;
    text-align: center;
  }
}

